.topSection {
  display: flex;
  flex-wrap: wrap;
  gap: 116px;
  padding: 96px 126px 60px 40px;
  width: fit-content;
  margin: 0 auto;
  position: sticky;
}

.left {
  display: flex;
  align-items: flex-start;
}

.left img {
  padding: 0;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0px;
  width: auto;
  background: black;
}

.stickyImage {
  position: sticky;
  top: 20px;
  height: auto;
  align-self: flex-start;
}

.right {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 586px;
  justify-content: center;
}

.tag {
  color: #777;
  font-size: 14px;
  margin-bottom: 4px;
}

.title {
  font-size: 48px;
  font-weight: 200;
  margin: 0 0 20px 0;
  line-height: 1.1;
}

.desc {
  font-size: 16px;
  color: #333;
  padding: 96px 83px 31px 0;
  /* margin-top: 96px;
  margin-bottom: 30px; */
  max-width: 500px;
}

.pluscircle {
  margin-top: 96px;
}

.buttonGroup {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.5px;
  border-radius: 9999px;
  cursor: pointer;
  padding: 4px 4px 4px 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.black {
  background-color: #000;
  color: #fff;
  border: none;
}

.black:hover {
  background-color: #222;
}

.outline {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}

.outline:hover {
  background-color: #000;
  color: #fff;
}

.features {
  display: flex;
  flex-direction: column;

  gap: 24px;
  margin-left: 1px;
}

.feature {
  display: flex;
  gap: 30px;
  align-items: flex-start;

  background: #fff;
  border-top: 1px solid #faf5f5;
}

.featureLeft {
  flex: 0 0 30%;
}

.featureRight {
  flex: 1;
  display: flex;

  flex-direction: column;
  gap: 10px;
}

.featureLeft h3 {
  font-size: 16px;
  font-weight: 600;
}

.featureRight p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.icon {
  margin-top: 10px;
}

.icon i {
  font-size: 20px;
  color: #000;
}

.arrowCircle {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 15px;
  margin-right: 0px;
  overflow: hidden;
}

.arrow {
  color: #000;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.arrow2 {
  position: absolute;
  transform: translateX(-200%);
  transition: transform 0.3s ease-in-out;
}

.black:hover .arrow {
  transform: translateX(200%);
}

.black:hover .arrow2 {
  transform: translateX(0%);
}

.featuresgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.featuregrid {
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.featuregridtop h3 {
  font-size: 16px;
  font-weight: 600;
}

.featuregridRight p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .topSection {
    flex-direction: column;
    padding: 60px 20px;
  }

  .left {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .left img {
    position: static;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .right {
    width: 100%;
  }

  .buttonGroup {
    flex-direction: column;
    width: fit-content;
  }

  .btn {
    width: 100%;
    text-align: center;
    width: fit-content;
  }

  .feature {
    flex-direction: column;
  }

  .featureLeft,
  .featureRight {
    flex: 1;
  }

  .title {
    font-size: 30px;
  }

  .desc {
    margin-top: 60px;
  }
}
